<a href="https://colab.research.google.com/github/imdineshkumar24/Big_Data_Analytics_exp/blob/main/BDA_ex_no_6b.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
!pip install pyspark

Collecting pyspark
  Downloading pyspark-3.5.0.tar.gz (316.9 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 316.9/316.9 MB 4.0 MB/s eta 0:00:00
  Preparing metadata (setup.py) ... done
Requirement already satisfied: py4j==0.10.9.7 in /usr/local/lib/python3.10/dist-packages (from pyspark) (0.10.9.7)
Building wheels for collected packages: pyspark
  Building wheel for pyspark (setup.py) ... done
  Created wheel for pyspark: filename=pyspark-3.5.0-py2.py3-none-any.whl size=317425344 sha256=62a29c1530758e690cc50ada0958f43a40791de8e114df050a96f64ec9f31a91
  Stored in directory: /root/.cache/pip/wheels/41/4e/10/c2cf2467f71c678cfc8a6b9ac9241e5e44a01940da8fbb17fc
Successfully built pyspark
Installing collected packages: pyspark
Successfully installed pyspark-3.5.0

In [ ]:
from pyspark.sql import SparkSession
spark = SparkSession.builder.master("local[1]").appName("PySpark_Date_Tim_Example").getOrCreate()

In [ ]:
from pyspark.sql.functions import *
data=[["1","2004-05-17"],["2","2003-09-22"],["3","2013-02-25"]]
df=spark.createDataFrame(data,["sno","dob"])

In [ ]:
df.select(current_date().alias("current_date")).show(1)

+------------+
|current_date|
+------------+
|  2023-10-05|
+------------+
only showing top 1 row

In [ ]:
df.select(col("dob"),date_format(col("dob"), "MM-dd-yyyy").alias("date_format")).show()

+----------+-----------+
|       dob|date_format|
+----------+-----------+
|2004-05-17| 05-17-2004|
|2003-09-22| 09-22-2003|
|2013-02-25| 02-25-2013|
+----------+-----------+

In [ ]:
df.select(col("dob"),to_date(col("dob"),"yyy-MM-dd").alias("to_date")).show()

+----------+----------+
|       dob|   to_date|
+----------+----------+
|2004-05-17|2004-05-17|
|2003-09-22|2003-09-22|
|2013-02-25|2013-02-25|
+----------+----------+

In [ ]:
df.select(col("dob"),datediff(current_date(),col("dob")).alias("datediff")).show()

+----------+--------+
|       dob|datediff|
+----------+--------+
|2004-05-17|    7080|
|2003-09-22|    7318|
|2013-02-25|    3874|
+----------+--------+

In [ ]:
df.select(col("dob"),months_between(current_date(),col("dob")).alias("months_between")).show()

+----------+--------------+
|       dob|months_between|
+----------+--------------+
|2004-05-17|  232.61290323|
|2003-09-22|   240.4516129|
|2013-02-25|  127.35483871|
+----------+--------------+

In [ ]:
df.select(col("dob"),\
          trunc(col("dob"),"Month").alias("Month_Trunc"),\
          trunc(col("dob"),"Year").alias("Month_Year"),\
          trunc(col("dob"),"Month").alias("Month_Trunc")).show()

+----------+-----------+----------+-----------+
|       dob|Month_Trunc|Month_Year|Month_Trunc|
+----------+-----------+----------+-----------+
|2004-05-17| 2004-05-01|2004-01-01| 2004-05-01|
|2003-09-22| 2003-09-01|2003-01-01| 2003-09-01|
|2013-02-25| 2013-02-01|2013-01-01| 2013-02-01|
+----------+-----------+----------+-----------+

In [ ]:
from pyspark.sql.types import StringType, StructType, StructField


# Sample data with explicit schema
data=[("2004-05-17",),("2003-09-22",),("2013-02-25",)]
schema = StructType([StructField("dob", StringType(), True)])

# Create a DataFrame with the defined schema
df = spark.createDataFrame(data, schema)

# Select columns and truncate the "input" column to month and year
result_df = df.select(
    col("dob"),
    trunc(col("dob"), "Month").alias("Month_Trunc"),
    trunc(col("dob"), "Year").alias("Month_Year"),
    trunc(col("dob"), "Month").alias("Month_Trunc_2")
)
# Show the result
result_df.show()

+----------+-----------+----------+-------------+
|       dob|Month_Trunc|Month_Year|Month_Trunc_2|
+----------+-----------+----------+-------------+
|2004-05-17| 2004-05-01|2004-01-01|   2004-05-01|
|2003-09-22| 2003-09-01|2003-01-01|   2003-09-01|
|2013-02-25| 2013-02-01|2013-01-01|   2013-02-01|
+----------+-----------+----------+-------------+

In [ ]:
df.select(col("dob"), \
          add_months(col("dob"),3).alias("add_months"), \
          add_months(col("dob"),-3).alias("sub_months"), \
          date_add(col("dob"),4).alias("date_add"), \
          date_sub(col("dob"),4).alias("date_sub")).show()

+----------+----------+----------+----------+----------+
|       dob|add_months|sub_months|  date_add|  date_sub|
+----------+----------+----------+----------+----------+
|2004-05-17|2004-08-17|2004-02-17|2004-05-21|2004-05-13|
|2003-09-22|2003-12-22|2003-06-22|2003-09-26|2003-09-18|
|2013-02-25|2013-05-25|2012-11-25|2013-03-01|2013-02-21|
+----------+----------+----------+----------+----------+

In [ ]:
df.select(col("dob"),\
          year(col("dob")).alias("year"),\
          month(col("dob")).alias("month"), \
          next_day(col("dob"),"Sunday").alias("next_day"), \
          weekofyear(col("dob")).alias("weekofyear") ).show()

+----------+----+-----+----------+----------+
|       dob|year|month|  next_day|weekofyear|
+----------+----+-----+----------+----------+
|2004-05-17|2004|    5|2004-05-23|        21|
|2003-09-22|2003|    9|2003-09-28|        39|
|2013-02-25|2013|    2|2013-03-03|         9|
+----------+----+-----+----------+----------+

In [ ]:
df.select(col("dob"),
     dayofweek(col("dob")).alias("dayofweek"),
     dayofmonth(col("dob")).alias("dayofmonth"),
     dayofyear(col("dob")).alias("dayofyear"),
  ).show()

+----------+---------+----------+---------+
|       dob|dayofweek|dayofmonth|dayofyear|
+----------+---------+----------+---------+
|2004-05-17|        2|        17|      138|
|2003-09-22|        2|        22|      265|
|2013-02-25|        2|        25|       56|
+----------+---------+----------+---------+

**current_timestamp()**

Following are the Timestamp Functions that you can use on SQL and on DataFrame. Let’s learn these with examples.

In [ ]:
data=[["1","02-01-2020 11 01 19 06"],["2","03-01-2019 12 01 19 406"],["3","03-01-2021 12 01 19 406"]]
df2=spark.createDataFrame(data,["id","input"])
df2.show(truncate=False)

+---+-----------------------+
|id |input                  |
+---+-----------------------+
|1  |02-01-2020 11 01 19 06 |
|2  |03-01-2019 12 01 19 406|
|3  |03-01-2021 12 01 19 406|
+---+-----------------------+

In [ ]:
#current_timestamp()
df2.select(current_timestamp().alias("current_timestamp")
  ).show(1,truncate=False)

+--------------------------+
|current_timestamp         |
+--------------------------+
|2023-10-05 17:04:58.253346|
+--------------------------+
only showing top 1 row

In [ ]:
#to_timestamp()
df2.select(col("input"),
    to_timestamp(col("input"), "MM-dd-yyyy HH mm ss SSS").alias("to_timestamp")
  ).show(1,truncate=False)

+----------------------+----------------------+
|input                 |to_timestamp          |
+----------------------+----------------------+
|02-01-2020 11 01 19 06|2020-02-01 11:01:19.06|
+----------------------+----------------------+
only showing top 1 row

In [ ]:
#hour, minute,second
data=[["1","2020-02-01 11:01:19.06"],["2","2019-03-01 12:01:19.406"],["3","2021-03-01 12:01:19.406"]]
df3=spark.createDataFrame(data,["id","input"])

df3.select(col("input"),
    hour(col("input")).alias("hour"),
    minute(col("input")).alias("minute"),
    second(col("input")).alias("second")
  ).show(1,truncate=False)

+----------------------+----+------+------+
|input                 |hour|minute|second|
+----------------------+----+------+------+
|2020-02-01 11:01:19.06|11  |1     |19    |
+----------------------+----+------+------+
only showing top 1 row