<a href="https://colab.research.google.com/github/imdineshkumar24/Big_Data_Analytics_exp/blob/main/BDA_ex_no_5.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
!pip install pyspark

Collecting pyspark
  Downloading pyspark-3.4.1.tar.gz (310.8 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 310.8/310.8 MB 4.1 MB/s eta 0:00:00
  Preparing metadata (setup.py) ... done
Requirement already satisfied: py4j==0.10.9.7 in /usr/local/lib/python3.10/dist-packages (from pyspark) (0.10.9.7)
Building wheels for collected packages: pyspark
  Building wheel for pyspark (setup.py) ... done
  Created wheel for pyspark: filename=pyspark-3.4.1-py2.py3-none-any.whl size=311285387 sha256=594ff0ef45383f051b7f0c12cb73a01850b2663203934c2284851dc16c32a5ca
  Stored in directory: /root/.cache/pip/wheels/0d/77/a3/ff2f74cc9ab41f8f594dabf0579c2a7c6de920d584206e0834
Successfully built pyspark
Installing collected packages: pyspark
Successfully installed pyspark-3.4.1

In [ ]:
from pyspark.sql import SparkSession
spark = SparkSession.builder.master('local[1]').appName('spark.com').enableHiveSupport().getOrCreate()

In [ ]:
from pyspark.sql import functions as functions
data = [
["21ADR001", "Dinesh", "AI",88, 99],
["21CSR55", "Suganth", "CSE", 90, 80],
["21CSR76", "Vetri",  "CSE", 87, 80],
["21ADR072", "Dhanush","AI", 98, 89],
["21ITR005", "Yaswin","IT",68, 56],
["21MTR002", "Srihari","MTS", 88, 94]
]
columns = ['ID','name','dept','subject_1','subject_2']
df = spark.createDataFrame(data,columns)
df.show()

+---------+-----------+-----------+----+---------+---------+----+
|studentID|studentname|collegename|dept|subject_1|subject_2|cgpa|
+---------+-----------+-----------+----+---------+---------+----+
| 21ADR001|     Dinesh|        KEC|  AI|       88|       99|8.06|
|  21CSR55|    Suganth|        KEC| CSE|       90|       80|7.89|
|  21CSR76|      Vetri|        PSG| CSE|       87|       80|7.98|
| 21ADR072|    Dhanush|        PSG|  AI|       98|       89| 8.1|
| 21ITR005|     Yaswin|        PSG|  IT|       68|       56|7.91|
| 21MTR002|    Srihari|        PSG| MTS|       88|       94|7.87|
+---------+-----------+-----------+----+---------+---------+----+

In [ ]:
df.createOrReplaceTempView("p_1")
df.write.saveAsTable("new_table_1")
df.printSchema()

root
 |-- studentID: string (nullable = true)
 |-- studentname: string (nullable = true)
 |-- collegename: string (nullable = true)
 |-- dept: string (nullable = true)
 |-- subject_1: long (nullable = true)
 |-- subject_2: long (nullable = true)
 |-- cgpa: double (nullable = true)

In [ ]:
spark.sql("CREATE TABLE new_table_2 AS SELECT * FROM p_1")

DataFrame[]

In [ ]:
result = spark.sql("SELECT * FROM p_1")
result.show()

+---------+-----------+-----------+----+---------+---------+----+
|studentID|studentname|collegename|dept|subject_1|subject_2|cgpa|
+---------+-----------+-----------+----+---------+---------+----+
| 21ADR001|     Dinesh|        KEC|  AI|       88|       99|8.06|
|  21CSR55|    Suganth|        KEC| CSE|       90|       80|7.89|
|  21CSR76|      Vetri|        PSG| CSE|       87|       80|7.98|
| 21ADR072|    Dhanush|        PSG|  AI|       98|       89| 8.1|
| 21ITR005|     Yaswin|        PSG|  IT|       68|       56|7.91|
| 21MTR002|    Srihari|        PSG| MTS|       88|       94|7.87|
+---------+-----------+-----------+----+---------+---------+----+

In [ ]:
result = spark.sql("SELECT * FROM p_1 WHERE subject_1 > 88")
result.show()

+---------+-----------+-----------+----+---------+---------+----+
|studentID|studentname|collegename|dept|subject_1|subject_2|cgpa|
+---------+-----------+-----------+----+---------+---------+----+
|  21CSR55|    Suganth|        KEC| CSE|       90|       80|7.89|
| 21ADR072|    Dhanush|        PSG|  AI|       98|       89| 8.1|
+---------+-----------+-----------+----+---------+---------+----+

In [ ]:
spark.sql("DESCRIBE new_table_2").show()

+-----------+---------+-------+
|   col_name|data_type|comment|
+-----------+---------+-------+
|  studentID|   string|   null|
|studentname|   string|   null|
|collegename|   string|   null|
|       dept|   string|   null|
|  subject_1|   bigint|   null|
|  subject_2|   bigint|   null|
|       cgpa|   double|   null|
+-----------+---------+-------+

In [ ]:
#SQL API
spark.sql("SHOW COLUMNS FROM new_table_2").show()

+-----------+
|   col_name|
+-----------+
|  studentID|
|studentname|
|collegename|
|       dept|
|  subject_1|
|  subject_2|
|       cgpa|
+-----------+

In [ ]:
from pyspark.sql import functions as F
df.withColumn("new_column",F.lit("some_value")).write.saveAsTable("new_table_3")

In [ ]:
spark.sql("ALTER TABLE new_table_2 ADD COLUMN new_column STRING")

DataFrame[]

In [ ]:
new_data = [["21ADR056", "Mohan", "KEC", "AI",80, 99,8.06],
["21CSR59", "Rasil", "KEC", "CSE", 90, 80,7.89],
["21CSR78", "Arun", "PSG", "CSE", 97, 80,7.98]]
new_df = spark.createDataFrame(new_data, columns)
new_df.write.insertInto("new_table_1")

In [ ]:
spark.sql("INSERT INTO TABLE new_table_2 VALUES ('21ADR056', 'Mohan', 'KEC', 'AI',80, 99,8.06),('21CSR59', 'Rasil', 'KEC', 'CSE', 90, 80,7.89)")

In [ ]:
spark.sql("SELECT * FROM new_table_2").show()

+---------+-----------+-----------+----+---------+---------+----+----------+
|studentID|studentname|collegename|dept|subject_1|subject_2|cgpa|new_column|
+---------+-----------+-----------+----+---------+---------+----+----------+
| 21ADR001|     Dinesh|        KEC|  AI|       88|       99|8.06|      null|
|  21CSR55|    Suganth|        KEC| CSE|       90|       80|7.89|      null|
|  21CSR76|      Vetri|        PSG| CSE|       87|       80|7.98|      null|
| 21ADR072|    Dhanush|        PSG|  AI|       98|       89| 8.1|      null|
| 21ITR005|     Yaswin|        PSG|  IT|       68|       56|7.91|      null|
| 21MTR002|    Srihari|        PSG| MTS|       88|       94|7.87|      null|
+---------+-----------+-----------+----+---------+---------+----+----------+

In [ ]:
df = spark.read.table("new_table_2")
df.show()

+---------+-----------+-----------+----+---------+---------+----+----------+
|studentID|studentname|collegename|dept|subject_1|subject_2|cgpa|new_column|
+---------+-----------+-----------+----+---------+---------+----+----------+
| 21ADR001|     Dinesh|        KEC|  AI|       88|       99|8.06|      null|
|  21CSR55|    Suganth|        KEC| CSE|       90|       80|7.89|      null|
|  21CSR76|      Vetri|        PSG| CSE|       87|       80|7.98|      null|
| 21ADR072|    Dhanush|        PSG|  AI|       98|       89| 8.1|      null|
| 21ITR005|     Yaswin|        PSG|  IT|       68|       56|7.91|      null|
| 21MTR002|    Srihari|        PSG| MTS|       88|       94|7.87|      null|
+---------+-----------+-----------+----+---------+---------+----+----------+

In [ ]:
df = df.withColumn("subject_1_plus_2",F.expr("subject_1 + 2"))
df.show()

+---------+-----------+-----------+----+---------+---------+----+----------+----------------+
|studentID|studentname|collegename|dept|subject_1|subject_2|cgpa|new_column|subject_1_plus_2|
+---------+-----------+-----------+----+---------+---------+----+----------+----------------+
| 21ADR001|     Dinesh|        KEC|  AI|       88|       99|8.06|      null|              90|
|  21CSR55|    Suganth|        KEC| CSE|       90|       80|7.89|      null|              92|
|  21CSR76|      Vetri|        PSG| CSE|       87|       80|7.98|      null|              89|
| 21ADR072|    Dhanush|        PSG|  AI|       98|       89| 8.1|      null|             100|
| 21ITR005|     Yaswin|        PSG|  IT|       68|       56|7.91|      null|              70|
| 21MTR002|    Srihari|        PSG| MTS|       88|       94|7.87|      null|              90|
+---------+-----------+-----------+----+---------+---------+----+----------+----------------+

In [ ]:
role = "Student"
df_with_job = df.withColumn("role",F.lit(role))
df_with_job.show()

+---------+-----------+-----------+----+---------+---------+----+----------+----------------+-------+
|studentID|studentname|collegename|dept|subject_1|subject_2|cgpa|new_column|subject_1_plus_2|   role|
+---------+-----------+-----------+----+---------+---------+----+----------+----------------+-------+
| 21ADR001|     Dinesh|        KEC|  AI|       88|       99|8.06|      null|              90|Student|
|  21CSR55|    Suganth|        KEC| CSE|       90|       80|7.89|      null|              92|Student|
|  21CSR76|      Vetri|        PSG| CSE|       87|       80|7.98|      null|              89|Student|
| 21ADR072|    Dhanush|        PSG|  AI|       98|       89| 8.1|      null|             100|Student|
| 21ITR005|     Yaswin|        PSG|  IT|       68|       56|7.91|      null|              70|Student|
| 21MTR002|    Srihari|        PSG| MTS|       88|       94|7.87|      null|              90|Student|
+---------+-----------+-----------+----+---------+---------+----+----------+----------------+-------+

In [ ]:
update_df = df.filter(df["studentname"]!="Vetri")
update_df.show()

+---------+-----------+-----------+----+---------+---------+----+----------+----------------+
|studentID|studentname|collegename|dept|subject_1|subject_2|cgpa|new_column|subject_1_plus_2|
+---------+-----------+-----------+----+---------+---------+----+----------+----------------+
| 21ADR001|     Dinesh|        KEC|  AI|       88|       99|8.06|      null|              90|
|  21CSR55|    Suganth|        KEC| CSE|       90|       80|7.89|      null|              92|
| 21ADR072|    Dhanush|        PSG|  AI|       98|       89| 8.1|      null|             100|
| 21ITR005|     Yaswin|        PSG|  IT|       68|       56|7.91|      null|              70|
| 21MTR002|    Srihari|        PSG| MTS|       88|       94|7.87|      null|              90|
+---------+-----------+-----------+----+---------+---------+----+----------+----------------+