<a href="https://colab.research.google.com/github/imdineshkumar24/Big_Data_Analytics_exp/blob/main/BDA_ex_no_7.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
!pip install pyspark

Collecting pyspark
  Downloading pyspark-3.5.0.tar.gz (316.9 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 316.9/316.9 MB 3.4 MB/s eta 0:00:00
  Preparing metadata (setup.py) ... done
Requirement already satisfied: py4j==0.10.9.7 in /usr/local/lib/python3.10/dist-packages (from pyspark) (0.10.9.7)
Building wheels for collected packages: pyspark
  Building wheel for pyspark (setup.py) ... done
  Created wheel for pyspark: filename=pyspark-3.5.0-py2.py3-none-any.whl size=317425344 sha256=a17b53b5a7851b53041760b42d0a288f0c21f246d2a35ae7937c360b93f7141a
  Stored in directory: /root/.cache/pip/wheels/41/4e/10/c2cf2467f71c678cfc8a6b9ac9241e5e44a01940da8fbb17fc
Successfully built pyspark
Installing collected packages: pyspark
Successfully installed pyspark-3.5.0

In [2]:
from pyspark.sql import SparkSession
spark = SparkSession.builder.master("local[1]").appName("BDA_ex_no_7").getOrCreate()

In [5]:
data = [
["21ADR001", "Dinesh", "AI",88, 'Anand'],
["21CSR55", "Suganth", "CSE", 90, 'Divaker'],
["21CSR76", "Vetri",  "CSE", 87, 'Prakash'],
["21ADR072", "Dhanush","AI", 98, 'Prakash'],
["21ITR005", "Yaswin","IT",68, 'Anand'],
["21MTR002", "Srihari","MTS", 88, 'Anand'],
["21ITR002", "Deepak","IT", 88, 'Divaker'],
["21MTR002", "Nithish","MTS", 86, 'Prakash']
]
columns = ['ID','name','dept','subject_1','Advisor']
df = spark.createDataFrame(data,columns)
df.show()

+--------+-------+----+---------+-------+
|      ID|   name|dept|subject_1|Advisor|
+--------+-------+----+---------+-------+
|21ADR001| Dinesh|  AI|       88|  Anand|
| 21CSR55|Suganth| CSE|       90|Divaker|
| 21CSR76|  Vetri| CSE|       87|Prakash|
|21ADR072|Dhanush|  AI|       98|Prakash|
|21ITR005| Yaswin|  IT|       68|  Anand|
|21MTR002|Srihari| MTS|       88|  Anand|
|21ITR002| Deepak|  IT|       88|Divaker|
|21MTR002|Nithish| MTS|       86|Prakash|
+--------+-------+----+---------+-------+

In [4]:
df.printSchema()

root
 |-- ID: string (nullable = true)
 |-- name: string (nullable = true)
 |-- dept: string (nullable = true)
 |-- subject_1: long (nullable = true)
 |-- subject_2: long (nullable = true)
 |-- Advisor: string (nullable = true)

In [6]:
from pyspark.sql.window import Window
from pyspark.sql.functions import row_number
windowSpec = Window.partitionBy("dept").orderBy("subject_1")
df.withColumn("row_number",row_number().over(windowSpec)).show(truncate=False)

+--------+-------+----+---------+-------+----------+
|ID      |name   |dept|subject_1|Advisor|row_number|
+--------+-------+----+---------+-------+----------+
|21ADR001|Dinesh |AI  |88       |Anand  |1         |
|21ADR072|Dhanush|AI  |98       |Prakash|2         |
|21CSR76 |Vetri  |CSE |87       |Prakash|1         |
|21CSR55 |Suganth|CSE |90       |Divaker|2         |
|21ITR005|Yaswin |IT  |68       |Anand  |1         |
|21ITR002|Deepak |IT  |88       |Divaker|2         |
|21MTR002|Nithish|MTS |86       |Prakash|1         |
|21MTR002|Srihari|MTS |88       |Anand  |2         |
+--------+-------+----+---------+-------+----------+

In [7]:
from pyspark.sql.functions import rank
df.withColumn("rank",rank().over(windowSpec)).show(5)

+--------+-------+----+---------+-------+----+
|      ID|   name|dept|subject_1|Advisor|rank|
+--------+-------+----+---------+-------+----+
|21ADR001| Dinesh|  AI|       88|  Anand|   1|
|21ADR072|Dhanush|  AI|       98|Prakash|   2|
| 21CSR76|  Vetri| CSE|       87|Prakash|   1|
| 21CSR55|Suganth| CSE|       90|Divaker|   2|
|21ITR005| Yaswin|  IT|       68|  Anand|   1|
+--------+-------+----+---------+-------+----+
only showing top 5 rows

In [8]:
from pyspark.sql.functions import dense_rank
df.withColumn("dense_rank",dense_rank().over(windowSpec)).show(5)

+--------+-------+----+---------+-------+----------+
|      ID|   name|dept|subject_1|Advisor|dense_rank|
+--------+-------+----+---------+-------+----------+
|21ADR001| Dinesh|  AI|       88|  Anand|         1|
|21ADR072|Dhanush|  AI|       98|Prakash|         2|
| 21CSR76|  Vetri| CSE|       87|Prakash|         1|
| 21CSR55|Suganth| CSE|       90|Divaker|         2|
|21ITR005| Yaswin|  IT|       68|  Anand|         1|
+--------+-------+----+---------+-------+----------+
only showing top 5 rows

In [9]:
from pyspark.sql.functions import percent_rank
df.withColumn("percent_rank",percent_rank().over(windowSpec)).show(5)

+--------+-------+----+---------+-------+------------+
|      ID|   name|dept|subject_1|Advisor|percent_rank|
+--------+-------+----+---------+-------+------------+
|21ADR001| Dinesh|  AI|       88|  Anand|         0.0|
|21ADR072|Dhanush|  AI|       98|Prakash|         1.0|
| 21CSR76|  Vetri| CSE|       87|Prakash|         0.0|
| 21CSR55|Suganth| CSE|       90|Divaker|         1.0|
|21ITR005| Yaswin|  IT|       68|  Anand|         0.0|
+--------+-------+----+---------+-------+------------+
only showing top 5 rows

In [10]:
from pyspark.sql.functions import ntile
df.withColumn("ntile",ntile(2).over(windowSpec)).show(5)

+--------+-------+----+---------+-------+-----+
|      ID|   name|dept|subject_1|Advisor|ntile|
+--------+-------+----+---------+-------+-----+
|21ADR001| Dinesh|  AI|       88|  Anand|    1|
|21ADR072|Dhanush|  AI|       98|Prakash|    2|
| 21CSR76|  Vetri| CSE|       87|Prakash|    1|
| 21CSR55|Suganth| CSE|       90|Divaker|    2|
|21ITR005| Yaswin|  IT|       68|  Anand|    1|
+--------+-------+----+---------+-------+-----+
only showing top 5 rows

In [11]:
from pyspark.sql.functions import cume_dist
df.withColumn("cume_dist",cume_dist().over(windowSpec)).show(5)

+--------+-------+----+---------+-------+---------+
|      ID|   name|dept|subject_1|Advisor|cume_dist|
+--------+-------+----+---------+-------+---------+
|21ADR001| Dinesh|  AI|       88|  Anand|      0.5|
|21ADR072|Dhanush|  AI|       98|Prakash|      1.0|
| 21CSR76|  Vetri| CSE|       87|Prakash|      0.5|
| 21CSR55|Suganth| CSE|       90|Divaker|      1.0|
|21ITR005| Yaswin|  IT|       68|  Anand|      0.5|
+--------+-------+----+---------+-------+---------+
only showing top 5 rows

In [12]:
from pyspark.sql.functions import lag
df.withColumn("lag",lag("subject_1",2).over(windowSpec)).show(5)

+--------+-------+----+---------+-------+----+
|      ID|   name|dept|subject_1|Advisor| lag|
+--------+-------+----+---------+-------+----+
|21ADR001| Dinesh|  AI|       88|  Anand|NULL|
|21ADR072|Dhanush|  AI|       98|Prakash|NULL|
| 21CSR76|  Vetri| CSE|       87|Prakash|NULL|
| 21CSR55|Suganth| CSE|       90|Divaker|NULL|
|21ITR005| Yaswin|  IT|       68|  Anand|NULL|
+--------+-------+----+---------+-------+----+
only showing top 5 rows

In [13]:
from pyspark.sql.functions import lead
df.withColumn("lead",lead("subject_1",2).over(windowSpec)).show(5)

+--------+-------+----+---------+-------+----+
|      ID|   name|dept|subject_1|Advisor|lead|
+--------+-------+----+---------+-------+----+
|21ADR001| Dinesh|  AI|       88|  Anand|NULL|
|21ADR072|Dhanush|  AI|       98|Prakash|NULL|
| 21CSR76|  Vetri| CSE|       87|Prakash|NULL|
| 21CSR55|Suganth| CSE|       90|Divaker|NULL|
|21ITR005| Yaswin|  IT|       68|  Anand|NULL|
+--------+-------+----+---------+-------+----+
only showing top 5 rows

In [15]:
from pyspark.sql.window import Window
from pyspark.sql.functions import col, avg, sum, min, max, row_number

In [16]:
windowSpecAgg = Window.partitionBy("dept")
windowSpec = Window.partitionBy("dept").orderBy("subject_1")

In [18]:
df.withColumn("row", row_number().over(windowSpec)) \
  .withColumn("avg", avg(col("subject_1")).over(windowSpecAgg)) \
  .withColumn("sum", sum(col("subject_1")).over(windowSpecAgg)) \
  .withColumn("min", min(col("subject_1")).over(windowSpecAgg)) \
  .withColumn("max", max(col("subject_1")).over(windowSpecAgg)) \
  .where(col("row") == 1).select("dept", "avg", "sum", "min", "max").show()

+----+----+---+---+---+
|dept| avg|sum|min|max|
+----+----+---+---+---+
|  AI|93.0|186| 88| 98|
| CSE|88.5|177| 87| 90|
|  IT|78.0|156| 68| 88|
| MTS|87.0|174| 86| 88|
+----+----+---+---+---+