<a href="https://colab.research.google.com/github/imdineshkumar24/Big_Data_Analytics_exp/blob/main/BDA_ex_no_6.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
!pip install pyspark

Collecting pyspark
  Downloading pyspark-3.4.1.tar.gz (310.8 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 310.8/310.8 MB 4.3 MB/s eta 0:00:00
  Preparing metadata (setup.py) ... done
Requirement already satisfied: py4j==0.10.9.7 in /usr/local/lib/python3.10/dist-packages (from pyspark) (0.10.9.7)
Building wheels for collected packages: pyspark
  Building wheel for pyspark (setup.py) ... done
  Created wheel for pyspark: filename=pyspark-3.4.1-py2.py3-none-any.whl size=311285387 sha256=d8cf114a0eda68bba02bbedff924974007c4867f006348f1a12225e72bd7d282
  Stored in directory: /root/.cache/pip/wheels/0d/77/a3/ff2f74cc9ab41f8f594dabf0579c2a7c6de920d584206e0834
Successfully built pyspark
Installing collected packages: pyspark
Successfully installed pyspark-3.4.1

In [ ]:
from pyspark.sql import SparkSession
spark = SparkSession.builder.master('local[1]').appName('spark.com').enableHiveSupport().getOrCreate()

In [ ]:
from pyspark.sql import functions as functions
data = [
["21CSR55", "sakthi",'vel', "CSE", 90, 80],
["21CSR76", "Vetri",'vendhan', "CSE", 87, 80],
["21ADR072", "Dinesh",'Kumar',"AI", 94, 89],
["21ITR005", "Rasil",'Risam',"IT",68, 56],
["21MTR002", "Deepak",'Kumar',"MTS", 88, 94]
]
columns = ['ID','f_name','l_name','dept','subject_1','subject_2']
df = spark.createDataFrame(data,columns)
df.show()

+--------+------+-------+----+---------+---------+
|      ID|f_name| l_name|dept|subject_1|subject_2|
+--------+------+-------+----+---------+---------+
| 21CSR55|sakthi|    vel| CSE|       90|       80|
| 21CSR76| Vetri|vendhan| CSE|       87|       80|
|21ADR072|Dinesh|  Kumar|  AI|       94|       89|
|21ITR005| Rasil|  Risam|  IT|       68|       56|
|21MTR002|Deepak|  Kumar| MTS|       88|       94|
+--------+------+-------+----+---------+---------+

In [ ]:
from pyspark.sql.functions import concat
df.select(concat(df.f_name, df.l_name).alias('full_name')).show()

+------------+
|   full_name|
+------------+
|   sakthivel|
|Vetrivendhan|
| DineshKumar|
|  RasilRisam|
| DeepakKumar|
+------------+

In [ ]:
from pyspark.sql.functions import col
df.filter(col('dept').contains('CSE')).show()

+-------+------+-------+----+---------+---------+
|     ID|f_name| l_name|dept|subject_1|subject_2|
+-------+------+-------+----+---------+---------+
|21CSR55|sakthi|    vel| CSE|       90|       80|
|21CSR76| Vetri|vendhan| CSE|       87|       80|
+-------+------+-------+----+---------+---------+

In [ ]:
from pyspark.sql.functions import col
df.filter(col('f_name').startswith('D')).show()

+--------+------+------+----+---------+---------+
|      ID|f_name|l_name|dept|subject_1|subject_2|
+--------+------+------+----+---------+---------+
|21ADR072|Dinesh| Kumar|  AI|       94|       89|
|21MTR002|Deepak| Kumar| MTS|       88|       94|
+--------+------+------+----+---------+---------+

In [ ]:
from pyspark.sql.functions import col
df.filter(col('l_name').endswith('n')).show()

+-------+------+-------+----+---------+---------+
|     ID|f_name| l_name|dept|subject_1|subject_2|
+-------+------+-------+----+---------+---------+
|21CSR76| Vetri|vendhan| CSE|       87|       80|
+-------+------+-------+----+---------+---------+

In [ ]:
df.createOrReplaceTempView("students")
df.show()

+--------+------+-------+----+---------+---------+
|      ID|f_name| l_name|dept|subject_1|subject_2|
+--------+------+-------+----+---------+---------+
| 21CSR55|sakthi|    vel| CSE|       90|       80|
| 21CSR76| Vetri|vendhan| CSE|       87|       80|
|21ADR072|Dinesh|  Kumar|  AI|       94|       89|
|21ITR005| Rasil|  Risam|  IT|       68|       56|
|21MTR002|Deepak|  Kumar| MTS|       88|       94|
+--------+------+-------+----+---------+---------+

In [ ]:
length_df = spark.sql("SELECT f_name,length(f_name) AS type_length FROM students")
length_df.show()

+------+-----------+
|f_name|type_length|
+------+-----------+
|sakthi|          6|
| Vetri|          5|
|Dinesh|          6|
| Rasil|          5|
|Deepak|          6|
+------+-----------+

In [ ]:
from pyspark.sql.functions import ascii
ascii_df=df.withColumn("student_ascii",ascii(col("f_name")))
ascii_df.show()

+--------+------+-------+----+---------+---------+-------------+
|      ID|f_name| l_name|dept|subject_1|subject_2|student_ascii|
+--------+------+-------+----+---------+---------+-------------+
| 21CSR55|sakthi|    vel| CSE|       90|       80|          115|
| 21CSR76| Vetri|vendhan| CSE|       87|       80|           86|
|21ADR072|Dinesh|  Kumar|  AI|       94|       89|           68|
|21ITR005| Rasil|  Risam|  IT|       68|       56|           82|
|21MTR002|Deepak|  Kumar| MTS|       88|       94|           68|
+--------+------+-------+----+---------+---------+-------------+

In [ ]:
from pyspark.sql.functions import base64
encoded_df=df.withColumn("student_base64",base64(col("ID")))
encoded_df.show()

+--------+------+-------+----+---------+---------+--------------+
|      ID|f_name| l_name|dept|subject_1|subject_2|student_base64|
+--------+------+-------+----+---------+---------+--------------+
| 21CSR55|sakthi|    vel| CSE|       90|       80|  MjFDU1I1NQ==|
| 21CSR76| Vetri|vendhan| CSE|       87|       80|  MjFDU1I3Ng==|
|21ADR072|Dinesh|  Kumar|  AI|       94|       89|  MjFBRFIwNzI=|
|21ITR005| Rasil|  Risam|  IT|       68|       56|  MjFJVFIwMDU=|
|21MTR002|Deepak|  Kumar| MTS|       88|       94|  MjFNVFIwMDI=|
+--------+------+-------+----+---------+---------+--------------+

In [ ]:
lowercase_df=spark.sql("SELECT dept,lower(dept) AS lowercase FROM students")
lowercase_df.show()

+----+---------+
|dept|lowercase|
+----+---------+
| CSE|      cse|
| CSE|      cse|
|  AI|       ai|
|  IT|       it|
| MTS|      mts|
+----+---------+

In [ ]:
from pyspark.sql.functions import levenshtein
l_df = df.withColumn("levenshtein_distance",levenshtein(col("f_name"),("l_name")))
l_df.show()

+--------+------+-------+----+---------+---------+--------------------+
|      ID|f_name| l_name|dept|subject_1|subject_2|levenshtein_distance|
+--------+------+-------+----+---------+---------+--------------------+
| 21CSR55|sakthi|    vel| CSE|       90|       80|                   6|
| 21CSR76| Vetri|vendhan| CSE|       87|       80|                   6|
|21ADR072|Dinesh|  Kumar|  AI|       94|       89|                   6|
|21ITR005| Rasil|  Risam|  IT|       68|       56|                   3|
|21MTR002|Deepak|  Kumar| MTS|       88|       94|                   5|
+--------+------+-------+----+---------+---------+--------------------+

+------------+
|   full_name|
+------------+
|   sakthivel|
|Vetrivendhan|
| DineshKumar|
|  RasilRisam|
| DeepakKumar|
+------------+

In [ ]:
from pyspark.sql.functions import instr
position_df = df.withColumn("position",instr(col("l_name"),"Kumar"))
position_df.show()

+--------+------+-------+----+---------+---------+--------+
|      ID|f_name| l_name|dept|subject_1|subject_2|position|
+--------+------+-------+----+---------+---------+--------+
| 21CSR55|sakthi|    vel| CSE|       90|       80|       0|
| 21CSR76| Vetri|vendhan| CSE|       87|       80|       0|
|21ADR072|Dinesh|  Kumar|  AI|       94|       89|       1|
|21ITR005| Rasil|  Risam|  IT|       68|       56|       0|
|21MTR002|Deepak|  Kumar| MTS|       88|       94|       1|
+--------+------+-------+----+---------+---------+--------+

In [ ]:
from pyspark.sql.functions import concat_ws
kdf = df.withColumn("details",concat_ws("-",col("f_name"),col("l_name"),col("dept")))
kdf.show()

+--------+------+-------+----+---------+---------+-----------------+
|      ID|f_name| l_name|dept|subject_1|subject_2|          details|
+--------+------+-------+----+---------+---------+-----------------+
| 21CSR55|sakthi|    vel| CSE|       90|       80|   sakthi-vel-CSE|
| 21CSR76| Vetri|vendhan| CSE|       87|       80|Vetri-vendhan-CSE|
|21ADR072|Dinesh|  Kumar|  AI|       94|       89|  Dinesh-Kumar-AI|
|21ITR005| Rasil|  Risam|  IT|       68|       56|   Rasil-Risam-IT|
|21MTR002|Deepak|  Kumar| MTS|       88|       94| Deepak-Kumar-MTS|
+--------+------+-------+----+---------+---------+-----------------+