<a href="https://colab.research.google.com/github/imdineshkumar24/Big_Data_Analytics_exp/blob/main/BDA_ex_no_4a.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
!pip install pyspark

Collecting pyspark
  Downloading pyspark-3.4.1.tar.gz (310.8 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 310.8/310.8 MB 3.7 MB/s eta 0:00:00
  Preparing metadata (setup.py) ... done
Requirement already satisfied: py4j==0.10.9.7 in /usr/local/lib/python3.10/dist-packages (from pyspark) (0.10.9.7)
Building wheels for collected packages: pyspark
  Building wheel for pyspark (setup.py) ... done
  Created wheel for pyspark: filename=pyspark-3.4.1-py2.py3-none-any.whl size=311285387 sha256=eca1b81a62a3cf0bb03a66c691150fdea7e022928507067066d34d39a75a722d
  Stored in directory: /root/.cache/pip/wheels/0d/77/a3/ff2f74cc9ab41f8f594dabf0579c2a7c6de920d584206e0834
Successfully built pyspark
Installing collected packages: pyspark
Successfully installed pyspark-3.4.1

In [ ]:
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName('SparkByExamples.com').getOrCreate()

In [ ]:
df=spark.read.csv("/content/IPL Player Stats - 2016 till 2019 - IPL Player Stats - 2016 till 2019.csv",header=True)
type(df)

pyspark.sql.dataframe.DataFrame

In [ ]:
df.show()

+----------------+-------------+----------+-------+---------------+-------+------------+-------------+---------------+-----------+-------------------+---+---+---+---+---+---------------+------------+--------------+-------------+-------------+--------------------+---------------+--------------------+-------------------+------------------+------------------+-------------+--------------+
|            Team|       Player|Tournament|Matches|Batting Innings|Not Out|Runds Scored|Highest Score|Batting Average|Balls Faced|Batting Strike Rate|100| 50|  0| 4s| 6s|Bowling Innings|Overs Bowled|Maidens Bowled|Runs Conceded|Wickets Taken|Best Bowling Figures|Bowling Average|Bowling Economy Rate|Bowling Strike Rate|4+ Innings Wickets|5+ Innings Wickets|Catches Taken|Stumpings Made|
+----------------+-------------+----------+-------+---------------+-------+------------+-------------+---------------+-----------+-------------------+---+---+---+---+---+---------------+------------+--------------+-------------+-------------+--------------------+---------------+--------------------+-------------------+------------------+------------------+-------------+--------------+
|Delhi Daredevils|    CH Morris|  IPL 2016|     12|              7|      4|         195|          82*|             65|        109|             178.89|  0|  1|  1| 15| 12|             12|          44|             0|          308|           13|                2/30|          23.69|                   7|               20.3|                 0|                 0|            8|             0|
|Delhi Daredevils|    CH Morris|  IPL 2017|      9|              9|      4|         154|          52*|           30.8|         94|             163.82|  0|  1|  0| 15|  6|              9|          31|             0|          240|           12|                4/26|             20|                7.74|               15.5|                 1|                 0|            5|             0|
|Delhi Daredevils|    CH Morris|  IPL 2018|      4|              4|      3|          46|          27*|             46|         26|             176.92|  0|  0|  0|  3|  2|              4|          14|             0|          143|            3|                2/41|          47.66|               10.21|                 28|                 0|                 0|            2|             0|
|Delhi Daredevils|    JP Duminy|  IPL 2016|     10|              8|      3|         191|          49*|           38.2|        156|             122.43|  0|  0|  0| 13|  3|              5|           7|             0|           55|            2|                 1/4|           27.5|                7.85|                 21|                 0|                 0|            3|             0|
|Delhi Daredevils|    Q de Kock|  IPL 2016|     13|             13|      1|         445|          108|          37.08|        327|             136.08|  1|  3|  0| 52| 13|              -|           -|             -|            -|            -|                   -|              -|                   -|                  -|                 -|                 -|            2|             2|
|Delhi Daredevils|      KK Nair|  IPL 2016|     14|             12|      2|         357|          83*|           35.7|        297|              120.2|  0|  3|  0| 40|  6|              -|           -|             -|            -|            -|                   -|              -|                   -|                  -|                 -|                 -|            3|             0|
|Delhi Daredevils|      KK Nair|  IPL 2017|     14|             13|      0|         281|           64|          21.61|        226|             124.33|  0|  1|  1| 39|  6|              -|           -|             -|            -|            -|                   -|              -|                   -|                  -|                 -|                 -|            2|             0|
|Delhi Daredevils|       P Negi|  IPL 2016|      8|              6|      4|          57|          19*|           28.5|         59|              96.61|  0|  0|  0|  2|  3|              5|           9|             0|           84|            1|                1/19|             84|                9.33|                 54|                 0|                 0|            2|             0|
|Delhi Daredevils|    SV Samson|  IPL 2016|     14|             14|      3|         291|           60|          26.45|        259|             112.35|  0|  1|  0| 20|  8|              -|           -|             -|            -|            -|                   -|              -|                   -|                  -|                 -|                 -|            3|             1|
|Delhi Daredevils|    SV Samson|  IPL 2017|     14|             14|      0|         386|          102|          27.57|        273|             141.39|  1|  2|  2| 32| 19|              -|           -|             -|            -|            -|                   -|              -|                   -|                  -|                 -|                 -|            4|             0|
|Delhi Daredevils|      RR Pant|  IPL 2016|     10|             10|      2|         198|           69|          24.75|        152|             130.26|  0|  1|  0| 19|  6|              -|           -|             -|            -|            -|                   -|              -|                   -|                  -|                 -|                 -|            3|             0|
|Delhi Daredevils|      RR Pant|  IPL 2017|     14|             14|      0|         366|           97|          26.14|        221|             165.61|  0|  2|  3| 28| 24|              -|           -|             -|            -|            -|                   -|              -|                   -|                  -|                 -|                 -|            8|             3|
|Delhi Daredevils|      RR Pant|  IPL 2018|     14|             14|      1|         684|         128*|          52.61|        394|              173.6|  1|  5|  1| 68| 37|              -|           -|             -|            -|            -|                   -|              -|                   -|                  -|                 -|                 -|            4|             2|
|Delhi Daredevils|  SW Billings|  IPL 2016|      5|              4|      0|          88|           54|             22|         64|              137.5|  0|  1|  0|  4|  4|              -|           -|             -|            -|            -|                   -|              -|                   -|                  -|                 -|                 -|            3|             0|
|Delhi Daredevils|  SW Billings|  IPL 2017|      6|              6|      0|         138|           55|             23|        104|             132.69|  0|  1|  1| 19|  1|              -|           -|             -|            -|            -|                   -|              -|                   -|                  -|                 -|                 -|            4|             0|
|Delhi Daredevils|CR Brathwaite|  IPL 2016|      8|              6|      0|          83|           34|          13.83|         38|             218.42|  0|  0|  0|  6|  8|              8|        23.1|             0|          189|            7|                3/47|             27|                8.15|               19.8|                 0|                 0|            3|             0|
|Delhi Daredevils|CR Brathwaite|  IPL 2017|      2|              2|      0|          12|           11|              6|         15|                 80|  0|  0|  0|  2|  0|              2|           6|             0|           67|            1|                1/38|             67|               11.16|                 36|                 0|                 0|            0|             0|
|Delhi Daredevils|   MA Agarwal|  IPL 2016|      3|              3|      0|          27|           10|              9|         25|                108|  0|  0|  0|  3|  1|              -|           -|             -|            -|            -|                   -|              -|                   -|                  -|                 -|                 -|            0|             0|
|Delhi Daredevils|      SS Iyer|  IPL 2016|      6|              6|      0|          30|           19|              5|         43|              69.76|  0|  0|  3|  2|  1|              -|           -|             -|            -|            -|                   -|              -|                   -|                  -|                 -|                 -|            4|             0|
|Delhi Daredevils|      SS Iyer|  IPL 2017|     12|             12|      2|         338|           96|           33.8|        243|             139.09|  0|  2|  0| 36| 10|              -|           -|             -|            -|            -|                   -|              -|                   -|                  -|                 -|                 -|            3|             0|
+----------------+-------------+----------+-------+---------------+-------+------------+-------------+---------------+-----------+-------------------+---+---+---+---+---+---------------+------------+--------------+-------------+-------------+--------------------+---------------+--------------------+-------------------+------------------+------------------+-------------+--------------+
only showing top 20 rows

In [ ]:
df.select(df['Team'],df['Runds Scored']).show()

+----------------+------------+
|            Team|Runds Scored|
+----------------+------------+
|Delhi Daredevils|         195|
|Delhi Daredevils|         154|
|Delhi Daredevils|          46|
|Delhi Daredevils|         191|
|Delhi Daredevils|         445|
|Delhi Daredevils|         357|
|Delhi Daredevils|         281|
|Delhi Daredevils|          57|
|Delhi Daredevils|         291|
|Delhi Daredevils|         386|
|Delhi Daredevils|         198|
|Delhi Daredevils|         366|
|Delhi Daredevils|         684|
|Delhi Daredevils|          88|
|Delhi Daredevils|         138|
|Delhi Daredevils|          83|
|Delhi Daredevils|          12|
|Delhi Daredevils|          27|
|Delhi Daredevils|          30|
|Delhi Daredevils|         338|
+----------------+------------+
only showing top 20 rows

In [ ]:
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName('SparkByExamples.com').getOrCreate()
dfs=spark.read.csv("/content/sample_csv_file - sample_csv_file.csv")
print("The input csv file is:")
dfs.show()

The input csv file is:
+-------+-----+-------+---------+
|    _c0|  _c1|    _c2|      _c3|
+-------+-----+-------+---------+
|   Name|Maths|Physics|Chemistry|
| Aditya|   45|     89|        1|
|  Chris|   86|     85|        2|
|   Joel| null|     85|        3|
|Katrina|   49|     47|        4|
| Agatha|   76|     89|        5|
|    Sam|   76|     98|        6|
+-------+-----+-------+---------+

In [ ]:
print(dfs.dtypes)

[('_c0', 'string'), ('_c1', 'string'), ('_c2', 'string'), ('_c3', 'string')]

In [ ]:
from pyspark.sql.types import StructType, StructField, IntegerType, StringType

list_of_cols=[StructField("Name",StringType(),True),
             StructField("Maths",IntegerType(),True),
             StructField("Physics",IntegerType(),True),
             StructField("Chemistry",IntegerType(),True)]
schema=StructType(list_of_cols)
dfs=spark.read.csv("/content/sample_csv_file - sample_csv_file.csv",header=True,schema=schema)
print("The input csv file is:")
dfs.show()
print("The data type of columns is:")
print(dfs.dtypes)

The input csv file is:
+-------+-----+-------+---------+
|   Name|Maths|Physics|Chemistry|
+-------+-----+-------+---------+
| Aditya|   45|     89|        1|
|  Chris|   86|     85|        2|
|   Joel| null|     85|        3|
|Katrina|   49|     47|        4|
| Agatha|   76|     89|        5|
|    Sam|   76|     98|        6|
+-------+-----+-------+---------+

The data type of columns is:
[('Name', 'string'), ('Maths', 'int'), ('Physics', 'int'), ('Chemistry', 'int')]

In [ ]:
dfs=spark.read.csv("/content/demo_file - demo_file.csv",header=True,inferSchema=True, sep="|")
print("The input csv file is:")
dfs.show()
print("The data type of columns is:")
print(dfs.dtypes)

The input csv file is:
+------+----+--------+-----+
|  Name|Roll|Language|Extra|
+------+----+--------+-----+
|Aditya|   1|  Python|   11|
|   Sam|   2|    Java|   12|
| Chris|   3|  Python|   13|
|   Joe|   8|    Java|   14|
+------+----+--------+-----+

The data type of columns is:
[('Name', 'string'), ('Roll', 'int'), ('Language', 'string'), ('Extra', 'int')]

In [ ]:
dfs=spark.read.csv(["/content/student_data2 - student_data2.csv"],header=True,inferSchema=True, sep="|")
print("The input csv files are:")
dfs.show()
print("The data type of columns is:")
print(dfs.dtypes)

The input csv files are:
+------+----+----------+-----+-----+
|  Name|Roll|  Language|Extra|Grade|
+------+----+----------+-----+-----+
|Aditya|   1|    Python|   11|    A|
|   Sam|   2|      Java|   12|    A|
| Chris|   3|       C++|   13|   A+|
|  Joel|   4|TypeScript|   14|   A+|
+------+----+----------+-----+-----+

The data type of columns is:
[('Name', 'string'), ('Roll', 'int'), ('Language', 'string'), ('Extra', 'int'), ('Grade', 'string')]

In [ ]:
dfs.filter("Language != 'C#'").show()

+------+----+----------+-----+-----+
|  Name|Roll|  Language|Extra|Grade|
+------+----+----------+-----+-----+
|Aditya|   1|    Python|   11|    A|
|   Sam|   2|      Java|   12|    A|
| Chris|   3|       C++|   13|   A+|
|  Joel|   4|TypeScript|   14|   A+|
+------+----+----------+-----+-----+

In [ ]:
dfs1=dfs.groupBy("Language").min("Extra")
dfs1.show()

+----------+----------+
|  Language|min(Extra)|
+----------+----------+
|       C++|        13|
|TypeScript|        14|
|    Python|        11|
|      Java|        12|
+----------+----------+

In [ ]:
dfs1.write.csv("result.csv")

In [ ]:
dfs.write.format("csv").mode('overwrite').save("/content/result.csv")

In [ ]:
df2 = spark.read.text("/content/data.txt")
type(df2)

df2.show(truncate=True)

+--------------------+
|               value|
+--------------------+
|deer,beer,river,c...|
|java,trust,read,w...|
|               c,c++|
+--------------------+

In [ ]:
from pyspark.sql.types import StructType, StructField, IntegerType, StringType
df3=spark.read.json("/content/sample_jsondata.json",multiLine=True)
type(df3)
print(df3.printSchema())
df3.show()

root
 |-- Address: struct (nullable = true)
 |    |-- Permanent address: string (nullable = true)
 |    |-- current Address: string (nullable = true)
 |-- Boolean: boolean (nullable = true)
 |-- Mobile: long (nullable = true)
 |-- Name: string (nullable = true)
 |-- Pets: array (nullable = true)
 |    |-- element: string (containsNull = true)

None
+---------+-------+--------+----+----------+
|  Address|Boolean|  Mobile|Name|      Pets|
+---------+-------+--------+----+----------+
|{USA, AU}|   true|12345678|Test|[Dog, cat]|
+---------+-------+--------+----+----------+