<a href="https://colab.research.google.com/github/imdineshkumar24/Big_Data_Analytics_exp/blob/main/BDA_ex_no_3a.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
!pip install pyspark
from pyspark.sql import SparkSession
spark = SparkSession.builder.master("local[1]").appName("SparkByExamples.com").getOrCreate()

Collecting pyspark
  Downloading pyspark-3.4.1.tar.gz (310.8 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 310.8/310.8 MB 4.5 MB/s eta 0:00:00
  Preparing metadata (setup.py) ... done
Requirement already satisfied: py4j==0.10.9.7 in /usr/local/lib/python3.10/dist-packages (from pyspark) (0.10.9.7)
Building wheels for collected packages: pyspark
  Building wheel for pyspark (setup.py) ... done
  Created wheel for pyspark: filename=pyspark-3.4.1-py2.py3-none-any.whl size=311285388 sha256=2363538566c1062a9077cfb0f6b0bf83288beae486e6a3f085f1c43a54d6218d
  Stored in directory: /root/.cache/pip/wheels/0d/77/a3/ff2f74cc9ab41f8f594dabf0579c2a7c6de920d584206e0834
Successfully built pyspark
Installing collected packages: pyspark
Successfully installed pyspark-3.4.1

Action Function

count

In [ ]:
#Create RDD from parallelize
sc = spark.sparkContext
data = [1,2,3,4,5,6,7,8,9,10,11,12]
rdd=sc.parallelize(data)
print(rdd.count())

12

collect

In [ ]:
rdd=sc.parallelize(data)
print(rdd.collect())

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12]

first

In [ ]:
print(rdd.first())

1

take

In [ ]:
print(rdd.take(7))

[1, 2, 3, 4, 5, 6, 7]

In [ ]:
data = [1,2,3,4,5,6,7,8,9,10]
rdd=sc.parallelize(data)
print(rdd.reduce(lambda x, y : x + y))

55

Transformation Function

Map

In [ ]:
from pyspark import SparkContext
sc=SparkContext.getOrCreate()
rdd = sc.parallelize([1,2,3,4,5,6,7])
print(rdd.map(lambda x: x+ 10).collect())

[11, 12, 13, 14, 15, 16, 17]

Filter

In [ ]:
filter_rdd = sc.parallelize([1,2,3,4,5,6,7,8,9,10])
print(filter_rdd.filter(lambda x: x%3 == 0).collect())

[3, 6, 9]

In [ ]:
filter_rdd_2 = sc.parallelize(['Kl Rahul', 'Ms Dhoni', 'Rohit', 'Virat', 'Rahane'])
print(filter_rdd_2.filter(lambda x: x.startswith('R')).collect())

['Rohit', 'Rahane']

In [ ]:
union_inp = sc.parallelize([1,2,3,4,5,6,7,8,9,10,11,12])
union_rdd_1 = union_inp.filter(lambda x: x % 2 == 0)
print(union_rdd_1.collect())
union_rdd_2 = union_inp.filter(lambda x: x % 3 == 0)
print(union_rdd_2.collect())
print(union_rdd_1.union(union_rdd_2).collect())

[2, 4, 6, 8, 10, 12]
[3, 6, 9, 12]
[2, 4, 6, 8, 10, 12, 3, 6, 9, 12]

In [ ]:
int_inp = sc.parallelize([1,2,3,4,5,6,7,8,9,10,11,12])
int_rdd_1 = int_inp.filter(lambda x: x % 2 == 0)
print(int_rdd_1.collect())
int_rdd_2 = int_inp.filter(lambda x: x % 3 == 0)
print(int_rdd_2.collect())
print(int_rdd_1.intersection(int_rdd_2).collect())

[2, 4, 6, 8, 10, 12]
[3, 6, 9, 12]
[6, 12]

In [ ]:
print(int_rdd_1.subtract(int_rdd_2).collect())

[2, 4, 8, 10]

In [ ]:
flatmap_rdd = sc.parallelize(["Dhoni scored century against ENG", "and he got Man of The Match"])
(flatmap_rdd.flatMap(lambda x: x.split(" ")).collect())

['Dhoni',
 'scored',
 'century',
 'against',
 'ENG',
 'and',
 'he',
 'got',
 'Man',
 'of',
 'The',
 'Match']

In [ ]:
#from pyspark import SparkContext, SparkConf

# Sample pair RDD with (key, value) pairs
pair_rdd = sc.parallelize([(1, 'Dhoni'), (2, 'Virat'), (3, 'Rohit'), (4, 'Sachin')])

def append_fruit(value):
    return value + " is a cricketer"

modified_rdd = pair_rdd.mapValues(append_fruit)

result = modified_rdd.collect()
print(result)

[(1, 'Dhoni is a cricketer'), (2, 'Virat is a cricketer'), (3, 'Rohit is a cricketer'), (4, 'Sachin is a cricketer')]

In [ ]:
scores = [('dhoni', 88), ('kohli', 92), ('rohit', 83), ('dhawan', 93), ('jadeja', 78)]
sc.parallelize(scores).collect()

[('dhoni', 88), ('kohli', 92), ('rohit', 83), ('dhawan', 93), ('jadeja', 78)]

In [ ]:
scores = sc.parallelize([('dhoni', 88), ('kohli', 92), ('rohit', 83), ('dhawan', 93), ('jadeja', 78)])
print(scores.reduceByKey(lambda x, y: x + y).collect())

[('dhoni', 88), ('kohli', 92), ('rohit', 83), ('dhawan', 93), ('jadeja', 78)]

In [ ]:
print(scores.sortByKey(ascending=True).collect())

[('dhawan', 93), ('dhoni', 88), ('jadeja', 78), ('kohli', 92), ('rohit', 83)]

In [ ]:
scores = sc.parallelize([('dhoni', 88), ('kohli', 92), ('rohit', 83), ('dhawan', 93), ('jadeja', 78),('rohit',88)])
dict_rdd = scores.groupByKey().collect()
for key, value in dict_rdd:
    print(key, list(value))

dhoni [88]
kohli [92]
rohit [83, 88]
dhawan [93]
jadeja [78]

In [ ]:
scores = sc.parallelize([('dhoni', 88), ('kohli', 92), ('rohit', 83), ('dhawan', 93), ('jadeja', 78),('rohit',88)])
ct_rdd = scores.countByKey().items()
for key, value in ct_rdd:
    print(key, value)

dhoni 1
kohli 1
rohit 2
dhawan 1
jadeja 1