<a href="https://colab.research.google.com/github/imdineshkumar24/Big_Data_Analytics_exp/blob/main/BDA_ex_no_4c.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
!pip install pyspark

Collecting pyspark
  Downloading pyspark-3.4.1.tar.gz (310.8 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 310.8/310.8 MB 3.3 MB/s eta 0:00:00
  Preparing metadata (setup.py) ... done
Requirement already satisfied: py4j==0.10.9.7 in /usr/local/lib/python3.10/dist-packages (from pyspark) (0.10.9.7)
Building wheels for collected packages: pyspark
  Building wheel for pyspark (setup.py) ... done
  Created wheel for pyspark: filename=pyspark-3.4.1-py2.py3-none-any.whl size=311285387 sha256=5d89e46a3de802ba7e7b3032bca95fc1fb82d5c5a40d549f2fe515e14d954ad8
  Stored in directory: /root/.cache/pip/wheels/0d/77/a3/ff2f74cc9ab41f8f594dabf0579c2a7c6de920d584206e0834
Successfully built pyspark
Installing collected packages: pyspark
Successfully installed pyspark-3.4.1

In [ ]:
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName('SparkByExamples.com').getOrCreate()

In [ ]:
df=spark.read.csv("/content/All-Cricket-World-Cup-Centuries.csv",header=True)
type(df)

pyspark.sql.dataframe.DataFrame

In [ ]:
df.show()

+---+----------------+----+-----+---+---+------+------------+------------+--------------------+---------+------+
|No.|          Player|Runs|Balls| 4s| 6s|   S/R|        Team|  Opposition|               Venue|     Date|Result|
+---+----------------+----+-----+---+---+------+------------+------------+--------------------+---------+------+
|  1|    Dennis Amiss| 137|  147| 18|  0| 93.19|     England|       India|      Lord's, London|07-Jun-75|   Won|
|  2|    Glenn Turner|171*|  201| 16|  2| 85.07| New Zealand| East Africa|Edgbaston Cricket...|07-Jun-75|   Won|
|  3|  Keith Fletcher| 131|  147| 13|  0| 89.11|     England| New Zealand|Trent Bridge, Not...|11-Jun-75|   Won|
|  4|     Alan Turner| 101|  113|  9|  1| 89.38|   Australia|   Sri Lanka|    The Oval, London|11-Jun-75|   Won|
|  5|    Glenn Turner|114*|  177| 13|  0|  64.4| New Zealand|       India|Old Trafford Cric...|14-Jun-75|   Won|
|  6|     Clive Lloyd| 102|   85| 12|  2|   120| West Indies|   Australia|      Lord's, London|21-Jun-75|   Won|
|  7|Gordon Greenidge|106*|  173|  9|  1| 61.27| West Indies|       India|Edgbaston Cricket...|09-Jun-79|   Won|
|  8|    Viv Richards|138*|  157| 11|  3| 87.89| West Indies|     England|      Lord's, London|23-Jun-79|   Won|
|  9|      Allan Lamb| 102|  105| 12|  2| 97.14|     England| New Zealand|    The Oval, London|09-Jun-83|   Won|
| 10|     David Gower| 130|  120| 12|  5|108.33|     England|   Sri Lanka|County Ground, Ta...|11-Jun-83|   Won|
| 11| Trevor Chappell| 110|  131| 11|  0| 83.96|   Australia|       India|Trent Bridge, Not...|13-Jun-83|   Won|
| 12|Gordon Greenidge|105*|  147|  5|  1| 71.42| West Indies|    Zimbabwe| New Road, Worcester|13-Jun-83|   Won|
| 13|    Viv Richards| 119|  146|  6|  1|  81.5| West Indies|       India|    The Oval, London|15-Jun-83|   Won|
| 14|      Imran Khan|102*|  133| 11|  0| 76.69|    Pakistan|   Sri Lanka|Headingley Stadiu...|16-Jun-83|   Won|
| 15|       Kapil Dev|175*|  138| 16|  6|126.81|       India|    Zimbabwe|Nevill Ground, Ro...|18-Jun-83|   Won|
| 16|    Zaheer Abbas|103*|  121|  6|  0| 85.12|    Pakistan| New Zealand|Trent Bridge, Not...|20-Jun-83|   Won|
| 17|   Javed Miandad| 103|  100|  6|  0|   103|    Pakistan|   Sri Lanka|Niaz Stadium, Hyd...|08-Oct-87|   Won|
| 18|     Geoff Marsh| 110|  141|  7|  1| 78.01|   Australia|       India|M. A. Chidambaram...|09-Oct-87|   Won|
| 19|  David Houghton| 142|  137| 13|  6|103.64|    Zimbabwe| New Zealand|Lal Bahadur Shast...|10-Oct-87|  Lost|
| 20|  Desmond Haynes| 105|  124| 10|  1| 84.67| West Indies|   Sri Lanka|National Stadium,...|13-Oct-87|   Won|
+---+----------------+----+-----+---+---+------+------------+------------+--------------------+---------+------+
only showing top 20 rows

In [ ]:
df.select(df['Player'],df['Runs']).show()

+----------------+----+
|          Player|Runs|
+----------------+----+
|    Dennis Amiss| 137|
|    Glenn Turner|171*|
|  Keith Fletcher| 131|
|     Alan Turner| 101|
|    Glenn Turner|114*|
|     Clive Lloyd| 102|
|Gordon Greenidge|106*|
|    Viv Richards|138*|
|      Allan Lamb| 102|
|     David Gower| 130|
| Trevor Chappell| 110|
|Gordon Greenidge|105*|
|    Viv Richards| 119|
|      Imran Khan|102*|
|       Kapil Dev|175*|
|    Zaheer Abbas|103*|
|   Javed Miandad| 103|
|     Geoff Marsh| 110|
|  David Houghton| 142|
|  Desmond Haynes| 105|
+----------------+----+
only showing top 20 rows

In [ ]:
df.select('*').show()

+---+----------------+----+-----+---+---+------+------------+------------+--------------------+---------+------+
|No.|          Player|Runs|Balls| 4s| 6s|   S/R|        Team|  Opposition|               Venue|     Date|Result|
+---+----------------+----+-----+---+---+------+------------+------------+--------------------+---------+------+
|  1|    Dennis Amiss| 137|  147| 18|  0| 93.19|     England|       India|      Lord's, London|07-Jun-75|   Won|
|  2|    Glenn Turner|171*|  201| 16|  2| 85.07| New Zealand| East Africa|Edgbaston Cricket...|07-Jun-75|   Won|
|  3|  Keith Fletcher| 131|  147| 13|  0| 89.11|     England| New Zealand|Trent Bridge, Not...|11-Jun-75|   Won|
|  4|     Alan Turner| 101|  113|  9|  1| 89.38|   Australia|   Sri Lanka|    The Oval, London|11-Jun-75|   Won|
|  5|    Glenn Turner|114*|  177| 13|  0|  64.4| New Zealand|       India|Old Trafford Cric...|14-Jun-75|   Won|
|  6|     Clive Lloyd| 102|   85| 12|  2|   120| West Indies|   Australia|      Lord's, London|21-Jun-75|   Won|
|  7|Gordon Greenidge|106*|  173|  9|  1| 61.27| West Indies|       India|Edgbaston Cricket...|09-Jun-79|   Won|
|  8|    Viv Richards|138*|  157| 11|  3| 87.89| West Indies|     England|      Lord's, London|23-Jun-79|   Won|
|  9|      Allan Lamb| 102|  105| 12|  2| 97.14|     England| New Zealand|    The Oval, London|09-Jun-83|   Won|
| 10|     David Gower| 130|  120| 12|  5|108.33|     England|   Sri Lanka|County Ground, Ta...|11-Jun-83|   Won|
| 11| Trevor Chappell| 110|  131| 11|  0| 83.96|   Australia|       India|Trent Bridge, Not...|13-Jun-83|   Won|
| 12|Gordon Greenidge|105*|  147|  5|  1| 71.42| West Indies|    Zimbabwe| New Road, Worcester|13-Jun-83|   Won|
| 13|    Viv Richards| 119|  146|  6|  1|  81.5| West Indies|       India|    The Oval, London|15-Jun-83|   Won|
| 14|      Imran Khan|102*|  133| 11|  0| 76.69|    Pakistan|   Sri Lanka|Headingley Stadiu...|16-Jun-83|   Won|
| 15|       Kapil Dev|175*|  138| 16|  6|126.81|       India|    Zimbabwe|Nevill Ground, Ro...|18-Jun-83|   Won|
| 16|    Zaheer Abbas|103*|  121|  6|  0| 85.12|    Pakistan| New Zealand|Trent Bridge, Not...|20-Jun-83|   Won|
| 17|   Javed Miandad| 103|  100|  6|  0|   103|    Pakistan|   Sri Lanka|Niaz Stadium, Hyd...|08-Oct-87|   Won|
| 18|     Geoff Marsh| 110|  141|  7|  1| 78.01|   Australia|       India|M. A. Chidambaram...|09-Oct-87|   Won|
| 19|  David Houghton| 142|  137| 13|  6|103.64|    Zimbabwe| New Zealand|Lal Bahadur Shast...|10-Oct-87|  Lost|
| 20|  Desmond Haynes| 105|  124| 10|  1| 84.67| West Indies|   Sri Lanka|National Stadium,...|13-Oct-87|   Won|
+---+----------------+----+-----+---+---+------+------------+------------+--------------------+---------+------+
only showing top 20 rows

In [ ]:
df.printSchema()

root
 |-- No.: string (nullable = true)
 |-- Player: string (nullable = true)
 |-- Runs: string (nullable = true)
 |-- Balls: string (nullable = true)
 |-- 4s: string (nullable = true)
 |-- 6s: string (nullable = true)
 |-- S/R: string (nullable = true)
 |-- Team: string (nullable = true)
 |-- Opposition: string (nullable = true)
 |-- Venue: string (nullable = true)
 |-- Date: string (nullable = true)
 |-- Result: string (nullable = true)

In [ ]:
df.filter(df.Team == " India").show(5)

+---+----------------+----+-----+---+---+------+------+------------+--------------------+---------+------+
|No.|          Player|Runs|Balls| 4s| 6s|   S/R|  Team|  Opposition|               Venue|     Date|Result|
+---+----------------+----+-----+---+---+------+------+------------+--------------------+---------+------+
| 15|       Kapil Dev|175*|  138| 16|  6|126.81| India|    Zimbabwe|Nevill Ground, Ro...|18-Jun-83|   Won|
| 26|  Sunil Gavaskar|103*|   88| 10|  3|117.04| India| New Zealand|Vidharba Cricket ...|31-Oct-87|   Won|
| 38|Sachin Tendulkar|127*|  138| 15|  1| 92.02| India|       Kenya|Barabati Stadium,...|18-Feb-96|   Won|
| 43|Sachin Tendulkar| 137|  137|  8|  5|   100| India|   Sri Lanka|Feroz Shah Kotla ...|02-Mar-96|  Lost|
| 47|    Vinod Kambli| 106|  110| 11|  0| 96.36| India|    Zimbabwe|Green Park Stadiu...|06-Mar-96|   Won|
+---+----------------+----+-----+---+---+------+------+------------+--------------------+---------+------+
only showing top 5 rows

In [ ]:
df.filter(df.Player == "Virat Kohli").show()

+---+-----------+----+-----+---+---+------+------+-----------+--------------------+---------+------+
|No.|     Player|Runs|Balls| 4s| 6s|   S/R|  Team| Opposition|               Venue|     Date|Result|
+---+-----------+----+-----+---+---+------+------+-----------+--------------------+---------+------+
|105|Virat Kohli|100*|   83|  8|  2|120.48| India| Bangladesh|Sher-e-Bangla Cri...|19-Feb-11|   Won|
|131|Virat Kohli| 107|  126|  8|  0| 84.92| India|   Pakistan|Adelaide Oval, Ad...|15-Feb-15|   Won|
+---+-----------+----+-----+---+---+------+------+-----------+--------------------+---------+------+

In [ ]:
unique_teams = df.select("Team").distinct().collect()
print(unique_teams)

[Row(Team=' Ireland'), Row(Team=' Bangladesh'), Row(Team=' Australia'), Row(Team=' Canada'), Row(Team=' West Indies'), Row(Team=' United Arab Emirates'), Row(Team=' Zimbabwe'), Row(Team=' Pakistan'), Row(Team=' Sri Lanka'), Row(Team=' England'), Row(Team=' India'), Row(Team=' New Zealand'), Row(Team=' Netherlands'), Row(Team=' Scotland'), Row(Team=' South Africa')]

In [ ]:
df.groupBy("Team","4s").sum().show(5)

+-------------+---+
|Team         |4s |
+-------------+---+
| India       |15 |
| Sri Lanka   |13 |
| West Indies |5  |
| England     |10 |
| Zimbabwe    |13 |
| New Zealand |12 |
| Australia   |13 |
| South Africa|19 |
| England     |13 |
| Bangladesh  |9  |
| Sri Lanka   |8  |
| India       |10 |
| West Indies |11 |
| Zimbabwe    |11 |
| Pakistan    |9  |
| South Africa|10 |
| West Indies |8  |
| Pakistan    |4  |
| Netherlands |11 |
| Australia   |9  |
+-------------+---+
only showing top 20 rows

In [ ]:
df.groupBy("Player","6s").sum().show(5)

+-----------------+---+
|           Player| 6s|
+-----------------+---+
|     Rahul Dravid|  1|
|Sanath Jayasuriya|  7|
|      Ross Taylor|  7|
|   Sourav Ganguly|  2|
|      Virat Kohli|  2|
+-----------------+---+
only showing top 5 rows

In [ ]:
from pyspark.sql.functions import sum,avg,max,col
df.groupBy("Team").agg(sum("6s")).show()

+--------------------+-------+
|                Team|sum(6s)|
+--------------------+-------+
|             Ireland|   14.0|
|          Bangladesh|    7.0|
|           Australia|   88.0|
|              Canada|    6.0|
|         West Indies|   62.0|
| United Arab Emir...|    1.0|
|            Zimbabwe|   21.0|
|            Pakistan|    8.0|
|           Sri Lanka|   41.0|
|             England|   50.0|
|               India|   86.0|
|         New Zealand|   42.0|
|         Netherlands|   11.0|
|            Scotland|    4.0|
|        South Africa|   55.0|
+--------------------+-------+

In [ ]:
df.groupBy("Player").agg(max("Runs")).show()

+-----------------+---------+
|           Player|max(Runs)|
+-----------------+---------+
|   AB de Villiers|     162*|
|     Aamer Sohail|      114|
|      Aaron Finch|      153|
|   Adam Gilchrist|      149|
|      Ajay Jadeja|     100*|
|      Alan Turner|      101|
|       Allan Lamb|      102|
|    Andrew Hudson|      161|
|   Andrew Strauss|      158|
|   Andrew Symonds|     143*|
|      Andy Flower|     115*|
|   Angelo Mathews|      113|
|Aravinda de Silva|      145|
| Avishka Fernando|      104|
|       Babar Azam|     101*|
|       Brad Hodge|      123|
|   Brendan Taylor|      138|
| Brendon McCullum|      101|
|       Brian Lara|      116|
|Carlos Brathwaite|      101|
+-----------------+---------+
only showing top 20 rows

In [ ]:
df.orderBy('Team','Player').show(truncate=False)

+---+--------------+----+-----+---+---+------+----------+-------------+-------------------------------------------+---------+------+
|No.|Player        |Runs|Balls|4s |6s |S/R   |Team      |Opposition   |Venue                                      |Date     |Result|
+---+--------------+----+-----+---+---+------+----------+-------------+-------------------------------------------+---------+------+
|128|Aaron Finch   |135 |128  |12 |3  |105.46| Australia| England     |Melbourne Cricket Ground, Melbourne        |14-Feb-15|Won   |
|174|Aaron Finch   |153 |132  |15 |5  |115.9 | Australia| Sri Lanka   |The Oval, London                           |15-Jun-19|Won   |
|183|Aaron Finch   |100 |116  |11 |2  |86.2  | Australia| England     |Lord's, London                             |25-Jun-19|Won   |
|103|Adam Gilchrist|149 |104  |13 |8  |143.26| Australia| Sri Lanka   |Kensington Oval, Bridgetown                |28-Apr-07|Won   |
|4  |Alan Turner   |101 |113  |9  |1  |89.38 | Australia| Sri Lanka   |The Oval, London                           |11-Jun-75|Won   |
|67 |Andrew Symonds|143*|125  |18 |2  |114.4 | Australia| Pakistan    |Wanderers Stadium, Johannesburg            |11-Feb-03|Won   |
|87 |Brad Hodge    |123 |89   |8  |7  |138.2 | Australia| Netherlands |Warner Park Sporting Complex, Basseterre   |18-Mar-07|Won   |
|35 |David Boon    |100 |147  |8  |0  |68.02 | Australia| West Indies |Melbourne Cricket Ground, Melbourne        |18-Mar-92|Won   |
|29 |David Boon    |100 |133  |11 |0  |75.18 | Australia| New Zealand |Eden Park, Auckland                        |22-Feb-92|Lost  |
|172|David Warner  |107 |111  |11 |1  |96.39 | Australia| Pakistan    |County Ground, Taunton                     |12-Jun-19|Won   |
|147|David Warner  |178 |133  |19 |5  |133.83| Australia| Afghanistan |WACA Ground, Perth                         |04-Mar-15|Won   |
|179|David Warner  |166 |147  |14 |5  |112.92| Australia| Bangladesh  |Trent Bridge, Nottingham                   |20-Jun-19|Won   |
|196|David Warner  |122 |117  |15 |2  |104.27| Australia| South Africa|Old Trafford Cricket Ground, Manchester    |06-Jul-19|Lost  |
|18 |Geoff Marsh   |110 |141  |7  |1  |78.01 | Australia| India       |M. A. Chidambaram Stadium, Madras          |09-Oct-87|Won   |
|24 |Geoff Marsh   |126*|149  |12 |3  |84.56 | Australia| New Zealand |Sector 16 Stadium, Chandigarh              |27-Oct-87|Won   |
|151|Glenn Maxwell |102 |53   |10 |4  |192.45| Australia| Sri Lanka   |Sydney Cricket Ground, Sydney              |08-Mar-15|Won   |
|41 |Mark Waugh    |126 |135  |8  |3  |93.33 | Australia| India       |Wankhede Stadium, Mumbai                   |27-Feb-96|Won   |
|40 |Mark Waugh    |130 |128  |14 |1  |101.56| Australia| Kenya       |Indira Priyadarshini Stadium, Visakhapatnam|23-Feb-96|Won   |
|50 |Mark Waugh    |110 |112  |6  |2  |98.21 | Australia| New Zealand |M. A. Chidambaram Stadium, Madras          |11-Mar-96|Won   |
|57 |Mark Waugh    |104 |120  |13 |0  |86.66 | Australia| Zimbabwe    |Lord's, London                             |09-Jun-99|Won   |
+---+--------------+----+-----+---+---+------+----------+-------------+-------------------------------------------+---------+------+
only showing top 20 rows